@charset 'utf-8';

//变量
    //颜色
        //body底色
        $body_color: #0be093;
        //主区域背景色
        $main_color: #323542;
        //次区域颜色
        $main_color02: #304156;
        $main_color03: #1f2d3d;
        //input框底色
        $input_bg: #5D5860;
        //按钮底色
        $btn_bg: #0bd38a;
        //文字颜色
        $text_input: #77878a;
        $text_black: #666;
        $text_white: #f3ffff;
        
    
    //尺寸
        //按钮高度
        $btn_height: 50px;


//占位符
    //flex垂直居中
    %flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    //绝对定位垂直居中
    %absolute {
        left: 50%;
        top: 50%;
        position: absolute; 
        transform: translate(-50%, -50%);
    }