
/* 基础样式 */
* {
	margin: 0;
	padding: 0;
}
body {
    color: #333;
    text-align: justify;
    padding: 0 0 50px 0;
    font: 13px/1.8 -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;

}
h1 {
    text-align: center;
}
h1,h2,h3 {
    white-space: nowrap;
}
i {
	font-style: normal;
}
ul {
    list-style: none;
    overflow: hidden;
}
ol {
    overflow: hidden;
}
a {
    color: deepskyblue;
    text-decoration: none;
}
input[type="button"],button {
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 8px;
    letter-spacing: 3px;
}
input::-webkit-input-placeholder{
    color: #999 !important;
    font-size: 0.95rem;
}
input::-moz-input-placeholder{
    color: #999 !important;
    font-size: 0.95rem;
}
input::-ms-input-placeholder{
    color: #999 !important;
    font-size: 0.95rem;
}


.full_width {
    width: 100%;
}
.block {
    display: block;
}


/* 阿里图标 */
.icon {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* vue相关 */
[v-cloak] {
    display: none;
}
/* fade淡入淡出 */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


/* 微信右上角提示 */
.tip {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	color: #eee;
    display: none;
	font-size: 1rem;
    padding: 10rem 0 0 0;
	background-color: rgba(0,0,0,0.65);
}
.tip ol {
    padding: 0 0 0 3rem;
    line-height: 2.5rem;
}
.tip img {
	top: 2rem;
	right: 2rem;
	width: 5rem;
	position: absolute;
	transform: rotate(22deg);
}


/* 自定义dialog弹框 */
.dialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
    display: none;
}
.dialog .main {
    width: 80%;
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin: -12% 10% 0 10%;
    background-color: #eee;
}
.dialog .main .icon {
    top: 8px;
    right: 10px;
    color: #bbb;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
}
.dialog .main h3 {
    margin: 0;
    color: #666;
    font-size: 1.1rem;
    padding: 10px 0 8px 0;
    border-bottom: 1px solid #ddd;
}
.dialog .main .content {
    color: #999;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
}
.dialog .main .no_cancel, .dialog .main .normal {
    margin: 25px 0;
}
.dialog .main .normal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dialog .main .no_cancel .sure, .dialog .main .normal button{
    color: #eee;
    width: 85px;
    height: 45px;
    font-size: 1rem;
    line-height: 45px;
    background-color: #fba711;
}
.dialog .main .normal .cancel {
    background-color: #ccc;
}
.dialog .main .QR_code {
    width: 80%;
    margin: 0 10%;
    padding: 35px 0 25px 0;
}
.dialog .main .QR_code img {
    width: 100%;
}
.dialog .main .QR_code p {
    color: #999;
    font-size: 0.95rem;
    margin: 10px 0 0 0;
}


/* 登录和注册页面 */
.form {
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.form .icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #eee;
}
.form .el-input {
    width: 80%;
    margin: 0 10% 20px 10%;
    border-bottom: 1px solid #999;
}
.form .el-input--prefix .el-input__inner{
    border: none;
    outline: none;
    background-color: transparent;
}
.form .el-input__prefix {
    line-height: 45px;
}
.form .el-input--prefix .el-input__inner {
    padding-left: 40px;
}
.form .el-input__inner {
    font-size: 1rem;
    color: #eee;
}
.form .el-button--success {
    width: 80%;
    height: 48px;
    border: none;
    color: #eee;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, #00a0e9, #aacd06);
}
.form .verify {
    width: 100%;
    position: relative;
}
.form .get_code {
    top: 0px;
    right: 10%;
    color: #00a0e9;
    font-size: 0.9rem;
    position: absolute;
}
.form .get_code.disabled {
    color: #C0C4CC;
}
.form .verify_tip {
    width: 80%;
    color: #e60012;
    text-align: left;
    font-size: 0.5rem;
    margin: -15px 10% 5px 10%;
}
.form .verify_tip span {
    padding-left: 40px;
}


/* 底部返回上一页 */
.back {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 20px 0;
    text-align: center;
    background-color: #eee;
    display: none;
}
.back button {
    height: 40px;
    color: #666;
    padding: 0 25px;
    line-height: 40px;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    background-color: transparent;
}

/* li左右justify对齐 */
.justify_li {
    color: #999;
    /* display: none; */
}
.justify_li li {
    display: flex;
    margin: 15px 0;
    font-size: 0.9rem;
    align-items: center;
    padding: 0 20px 14px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.justify_li li span:first-of-type {
    color: #666;
    font-size: 0.95rem;
}

/* 复制成功的提示语 */
#copy_text {
    color: #999;
    margin-right: 8px;
}
.justify_li .copy {
    color: #B3B3B3;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.copy_tip {
    width: 100%;
    bottom: 20px;
    position: fixed;
    text-align: center;
}
.copy_tip span {
    color: #777;
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ddd;
}