@charset "utf-8";

// 颜色
    //背景色
    $bg: #2d3a4b;
    //侧边栏
    $aside: #304156;
    //主颜色
    $main: #409eff;
    //成功
    $succ: #67c23a;
    //失败
    $fail: #909399;
    //危险
    $dang: #f56c6c;