<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="yukang" />
    <meta name="keywords" content="找回密码" />
    <meta name="description" content="找回密码" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>找回密码</title>
    <link rel="stylesheet" href="./css/base.css">
    <!-- 响应式css -->
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="./css/forget.css">
    <link rel="stylesheet" media="screen and (min-width: 769px)" href="./css/forget_pc.css">
    <style>
        
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <header class="find flex_center">
            <h2>找回密码</h2>
        </header>

        <article>
            <form class="form flex_center">

                <div class="input flex_center">
                    <div class="left flex_center">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-denglu"></use>
                        </svg>
                    </div>
                    <div class="middle full">
                        <input class="full" type="tel" placeholder="请输入账号/手机号" v-model='form.account' @blur='verify_input("account")' @keyup='input_data("account")' @focus='get_focus("account")' @input='limit_input("account")'>
                        <svg class="icon" aria-hidden="true" v-if='form_ico.account' @click='clear_input("account")'>
                            <use xlink:href="#icon-chahao"></use>
                        </svg>
                    </div>
                </div>
                <transition name="fade"><p class='verify_warn' v-if='verify_warn.account.is_open'><span>{{ verify_warn.account.text }}</span></p></transition>

                <div class="input flex_center" v-if='form.is_verify_code'>
                    <div class="left flex_center">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shouji"></use>
                        </svg>
                    </div>
                    <div class="middle full">
                        <input class="full" type="text" placeholder="请输入验证码" v-model='form.verify_code' @blur='verify_input("verify_code")' @keyup='input_data("verify_code")' @focus='get_focus("verify_code")' @input='limit_input("verify_code")'>
                        <svg class="icon" aria-hidden="true" v-if='form_ico.verify_code' @click='clear_input("verify_code")'>
                            <use xlink:href="#icon-chahao"></use>
                        </svg>
                    </div>
                    <div class="right flex_center" :class='{disabled: limit_get.is_disabled}'>
                        <span @click='get_code'>{{ limit_get.text }}</span>
                    </div>
                </div>
                <transition name="fade"><p class='verify_warn' v-if='verify_warn.verify_code.is_open'><span>{{ verify_warn.verify_code.text }}</span></p></transition>

                <div class="input flex_center" v-if='form.is_old_password'>
                    <div class="left flex_center">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-mima"></use>
                        </svg>
                    </div>
                    <div class="middle full">
                        <input class="full" :type="form.password_type" placeholder="请输入原密码" v-model='form.password' @blur='verify_input("password")' @keyup='input_data("password")' @focus='get_focus("password")'>
                        <svg class="icon icon02" aria-hidden="true" v-if='form_ico.password' @click='see_or_hide("password")'>
                            <use v-if='form_ico.see' xlink:href="#icon-yincang"></use>
                            <use v-if='form_ico.hide' xlink:href="#icon-yincang1"></use>
                        </svg>
                        <svg class="icon" aria-hidden="true" v-if='form_ico.password' @click='clear_input("password")'>
                            <use xlink:href="#icon-chahao"></use>
                        </svg>
                    </div>
                </div>
                <transition name="fade"><p class='verify_warn' v-if='verify_warn.password.is_open'><span>{{ verify_warn.password.text }}</span></p></transition>

                <div class="input flex_center">
                    <div class="left flex_center">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-mima"></use>
                        </svg>
                    </div>
                    <div class="middle full">
                        <input class="full" :type="form.new_password_type" placeholder="请输入新密码" v-model='form.new_password' @blur='verify_input("new_password")' @keyup.enter="find('new_password')" @keyup='input_data("new_password")' @focus='get_focus("new_password")'>
                        <svg class="icon icon02" aria-hidden="true" v-if='form_ico.new_password' @click='see_or_hide("new_password")'>
                            <use v-if='form_ico.new_see' xlink:href="#icon-yincang"></use>
                            <use v-if='form_ico.new_hide' xlink:href="#icon-yincang1"></use>
                        </svg>
                        <svg class="icon" aria-hidden="true" v-if='form_ico.new_password' @click='clear_input("new_password")'>
                            <use xlink:href="#icon-chahao"></use>
                        </svg>
                    </div>
                </div>
                <transition name="fade"><p class='verify_warn' v-if='verify_warn.new_password.is_open'><span>{{ verify_warn.new_password.text }}</span></p></transition>

                <div class="btn flex_center" @click='find'>
                    <img src="../../imgs/wait.gif" alt="wait" v-if='form.is_circle'>
                    <input type="button" value="确认修改" :class="{is_circle: form.is_circle}">
                </div>

                <div class="back" @click='go_back'>
                    <!-- 在表单内的button 如果不声明type="button" 则有些浏览器会默认type="submit" 按回车键会直接刷新提交 -->
                    <button type="button">返回</button>
                </div>

            </form>
        </article>
            
        <footer>


            <!-- 自定义的dialog弹框 -->
            <transition name='fade'>
                <section class="dialog flex_center fixed_top" v-if='dialog.is_open' @click.self='dialog.is_open=false'>
                    <div class="main">
                        <h3>提示</h3>
                        <div class="content">
                            <span>{{ dialog.msg ? dialog.msg : '网络错误' }}</span>
                        </div>
                        <div class="no_cancel flex_center">
                            <button @click='dialog.is_open=false'>确定</button>
                        </div>
                        <!-- <div class="normal flex_between">
                            <button class="cancel" @click='dialog.is_open=false'>取消</button>
                            <button @click='dialog.is_open=false'>确定</button>
                        </div> -->
                        <!-- 二维码展示 -->
                        <!-- <div class="QR_code">
                            <img class="full_width" src="imgs/QR_code.jpg" alt="QR_code">
                            <p>扫描/长按识别二维码</p>
                        </div> -->
                        <!-- 叉号 -->
                        <svg class="icon" aria-hidden="true" @click='dialog.is_open=false'>
                            <use xlink:href="#icon-chahao"></use>
                        </svg>
                    </div>
                </section>
            </transition>
        </footer>
    </div>


    <!-- 阿里图标 symbol引入方式 -->
    <script src="./js/fonts/iconfont.js"></script>
    <!-- vue -->
    <!-- <script src="./js/frames/vue_2.6.1.min.js"></script> -->
    <script src="./js/frames/vue_2.6.1.js"></script>
    <!-- jquery -->
    <script src="./js/plugins/jquery_3.4.1.min.js"></script>
    <!-- md5加密 -->
    <script src="./js/plugins/md5.js"></script>
    <script src="./js/forget.js"></script>
</body>
</html>