
/* 基础标签样式 */
* {
	margin: 0;
	padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
body {
    color: #333;
    text-align: justify;
    background-color: #fff;
    font: 15px/1.8 -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
}
h1 {
    text-align: center;
}
h1,h2,h3 {
    white-space: nowrap;
}
i {
	font-style: normal;
}
ul {
    list-style: none;
    overflow: hidden;
}
ol {
    overflow: hidden;
}
a {
    color: #666;
    text-decoration: none;
}
input {
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: transparent;
}
input[type="button"],button {
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
}
input::-webkit-input-placeholder{
    color: #999;
    font-size: 0.95rem;
}
input::-moz-input-placeholder{
    color: #999;
    font-size: 0.95rem;
}
input::-ms-input-placeholder{
    color: #999;
    font-size: 0.95rem;
}

/* 阿里图标 */
.icon {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 共用的类 */
.block {
    display: block;
}
.full {
    width: 100%;
    height: 100%;
}
.full_width {
    width: 100%;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fixed_top {
    top: 0;
    left: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.fixed_bottom {
    left: 0;
    bottom: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.ab_center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
}

/* 全局样式 */

/* element-ui */
.el-form-item__error {
    color: red;
    font-size: 14px;
    top: 108%;
    left: 50%;
    transform: translateX(-50%);
}
.el-form-item__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-input__inner {
    height: 45px;
}
.el-message {
    min-width: auto;
    width: 80%;
    top: 15px !important;
    padding: 12px 15px 12px 20px;
}
.el-tooltip__popper.is-light {
    background: none;
    border: none;
}
.el-tooltip__popper .popper__arrow {
    display: none;
}
.el-menu {
    border: none;
}
.el-menu-item, .el-submenu__title {
    display: flex;
    align-items: center;
}
.el-tag--info.is_select .el-tag__close {
    width: 15px;
    color: #fff;
}
.el-tag--info a {
    margin-right: 3px;
}
.el-tag--info.is_select a {
    color: #fff;
}
.el-tag--info {
    height: 28px;
    cursor: pointer;
    line-height: 28px;
    margin-right: 8px;
}
.el-tag.el-tag--info {
    border: 1px solid #ddd;
}
.echarts {
    width: 100%;
    height: 400px;
}
.el-pagination {
    text-align: right;
}
.el-table th {
    text-align: center;
    color: #333;
}
.el-table td {
    text-align: center;
}
.el-time-panel {
    left: -20px;
}
.el-upload-dragger {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.el-time-panel__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.el-tooltip__popper {
    padding-right: 6px;
}
.el-dialog--center {
    border-radius: 15px;
}
.el-dialog__title {
    letter-spacing: 1px;
}

/* 响应式 */
@media screen and (min-width: 769px) {
    .el-message {
        width: 380px;
    }
}
