
//login
    .login {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $body_color;

        h1 {
            margin-top: 80px;
            font-size: 3rem;
            color: $text_white;
            margin-right: 5.5%;
        }

        .main {
            background-color: $main_color;
            width: 30%;
            margin: 0 30%;
            padding: 60px 30px 100px 30px;
            @extend %flex;
            flex-direction: column;

            img {
                width: 150px;
                margin-bottom: 30px;
            }

            
            .form {
                width: 70%;

                .el-input {
                    margin-bottom: 25px;
                }

                .el-input__inner {
                    background-color: $input_bg;
                    border: 1px solid $input_bg;
                    color: $text_input;
                    height: $btn_height;
                }
                .el-input__inner:hover {
                    border: 1px solid $btn_bg;
                }

                .el-input--prefix .el-input__inner {
                    padding-left: 38px;
                    font-size: 1rem;
                }

                .el-input__prefix {
                    line-height: 56px;
                    width: 30px;
                }

                .el-button--success {
                    background-color: $btn_bg;
                    color: $text_white;
                    width: 100%;
                    font-size: 1.1rem;
                    letter-spacing: 5px;
                    margin-bottom: 25px;
                }
                .el-button--success:hover {
                    background-color: #4ae2ab;
                }
            }

            .bottom {
                width: 70%;
                @extend %flex;
                justify-content: space-between !important;

                .el-button--text {
                    color: $text_input;
                    letter-spacing: 1px;
                }
                .el-button--text:hover {
                    color: #689da7;
                }
            }
        }
    }

//layout
    .layout {
        position: fixed;
        width: 100%;
        height: 100%;

        .el-container {
            height: 100%;

            .el-header {
                background-color: $main_color;
                color: $text_white;

                .layout_header {
                    height: 100%;
                    @extend %flex;
                    justify-content: space-between !important;
            
                    &>div {
                        cursor:pointer;
                    }
            
                    .left {
                        @extend %flex;
            
                        img {
                            width: 50px;
                        }
                    }
            
                    .right {
                        @extend %flex;
                        font-size: 0.95rem;
            
                        span {
                            margin-left: 8px;
                        }
                    }
                }
            }

            .el-aside {
                background-color: $main_color02;

                .layout_aside {

                    .icon {
                        width: 1.2rem;
                        margin-right: 10px;
                        fill: #bfcbd9 !important;
                    }

                    &>.el-menu {
                        border: none;

                        &>.aside_item {
                            
                            &>.el-submenu {

                                &>.el-submenu__title {
                                    background-color: $main_color02 !important;
                                }
    
                                &>.el-submenu__title:hover {
                                    background-color: $main_color03 !important;
                                }
                            }
                        }

                        .el-menu {

                            .el-menu {

                                .el-menu-item {

                                    height: 56px;
                                    line-height: 56px;
                                    margin: 0;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .el-main {
                padding: 15px 20px;
            }
        }
    }

    