/* 共用的类 */
.full_width {
    width: 100%;
}
.block {
    display: block;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fixed_top {
    top: 0;
    left: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.fixed_bottom {
    left: 0;
    bottom: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.ab_center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
}


/* 自定义dialog弹框 */
.dialog {
    height: 100%;
    background-color: rgba(0,0,0,0.65);
}
.dialog .main {
    /* 宽度不采用百分比是为了兼容响应式页面 */
    width: 17rem;
    text-align: center;
    position: relative;
    margin: -3rem 0 0 0;
    border-radius: 10px;
    background-color: #fff;
}
.dialog .icon {
    top: 8px;
    right: 10px;
    color: #bbb;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
}
.dialog h3 {
    color: #666;
    font-size: 1.1rem;
    padding: 10px 0 8px 0;
    border-bottom: 1px solid #ddd;
}
.dialog .content {
    color: #999;
    font-size: 1rem;
    margin: 25px 15px;
}
.dialog .no_cancel, .dialog .normal {
    margin: 25px 30px;
}
.dialog button{
    width: 5rem;
    height: 45px;
    color: #eee;
    font-size: 1rem;
    background-color: #67c23a;
}
.dialog .cancel {
    background-color: #909399;
}
.dialog .QR_code {
    width: 80%;
    color: #999;
    margin: 0 auto;
    font-size: 0.95rem;
    padding: 35px 0 20px 0;
}
.dialog .QR_code p {
    margin: 10px 0 0 0;
}

/* 登录页面 */
.form {
    padding-top: 25px;
    flex-direction: column;
}
.form .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
}
.form .el-input {
    width: 80%;
    margin: 0 10% 20px 10%;
    border-bottom: 1px solid #999;
}
.form .el-input__inner{
    color: #fff;
    border: none;
    font-size: 1rem;
    padding-left: 40px;
    background-color: transparent;
}
.form .el-input__prefix {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .el-button--success {
    width: 80%;
    height: 50px;
    border: none;
    color: #eee;
    margin-top: 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    background-color: #67c23a;
}
.form .verify {
    width: 100%;
    position: relative;
}
.form .get_code {
    top: 0px;
    right: 10%;
    color: #409eff;
    font-size: 0.9rem;
    position: absolute;
}
.form .get_code.disabled {
    color: #909399;
}
.form .verify_tip {
    width: 80%;
    color: #f56c6c;
    font-size: 0.8rem;
    white-space: nowrap;
    margin: -15px 10% 5px 10%;
}
.form .verify_tip span {
    padding-left: 40px;
}

