
/* 基础标签样式 */
* {
	margin: 0;
	padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
img {
	width: 100%;
}
body {
    color: #333;
    text-align: justify;
    background-color: #f0f0f0;
    font: 15px/1.8 -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
}
input {
    border: none;
    outline: none;
    color: #333;
    font-size: 28rpx;
    letter-spacing: 1px;
    background-color: transparent;
}
input[type="button"],button {
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    font-size: 28rpx;
    border-radius: 8px;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
}

@font-face {
	font-family: 'iconfont';
    src: url('../../static/fonts/iconfont.eot');
    src: url('../../static/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../static/fonts/iconfont.woff') format('woff'),
    url('../../static/fonts/iconfont.ttf') format('truetype'),
    url('../../static/fonts/iconfont.svg#iconfont') format('svg');
}


/* 阿里图标 */
.iconfont{
    font-family:"iconfont" !important;
	font-size: 32rpx;
	font-weight: 100;
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


/* vue相关 */
[v-cloak] {
    display: none;
}

/* 淡入淡出 */
.fade-enter-active, .fade-leave-active {
    transition: opacity .28s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}
.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.breadcrumb-move {
  transition: all .5s;
}
.breadcrumb-leave-active {
  position: absolute;
}


/* 共用的类 */
.block {
    display: block;
}
.full {
    width: 100%;
    height: 100%;
}
.full_width {
    width: 100%;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fixed_top {
    top: 0;
    left: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.fixed_bottom {
    left: 0;
    bottom: 0;
	z-index: 2;
    width: 100%;
    position: fixed;
}
.ab_center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.dialog_diy {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}
.dialog_diy_main {
	background-color: #fff;
	border-radius: 10px;
	flex-direction: column;
	padding: 20px 0 25px 0;
	width: 70%;
}
.dialog_diy_main_02 {
	padding: 0;
}
.dialog_diy_title {
	background-color: #e8f8f6;
	color: #31BFAD;
	font-size: 16px;
	border-radius: 20px;
	width: 80%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.dialog_diy_content {
	margin: 40px 0;
	color: #666666;
	text-align: center;
}
.dialog_diy_btn {
	border: 1px solid #84d9ce;
	color: #31BFAD;
	font-size: 14px;
	padding: 0 25px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
}
.dialog_diy_header {
	position: relative;
	width: 100%;
	height: 200px;
}
.dialog_diy_header_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.dialog_diy_header_h3 {
	position: absolute;
	top: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 22px;
}
.dialog_diy_header_close {
	position: absolute;
	top: 12px;
	right: 10px;
	width: 15px;
	height: 15px;
}
.dialog_diy_content02 {
	font-weight: 900;
	margin: 10px 0 20px 0;
}
.dialog_diy_btn02 {
	width: 90%;
	border-radius: 5px;
	background-color: #FFB04A;
	color: #fff;
	font-weight: 900;
	text-align: center;
	height: 42px;
	line-height: 42px;
	margin-bottom: 20px;
}