

.slide_banners {
	height: 150px;
}
.search, .search .left {
	display: flex;
	align-items: center;
}
.search {
	margin: 12px 15px;
}
.left {
	width: 22%;
	margin-right: 3%;
}
.left .border {
	width: 5px;
	height: 14px;
	background-color: #31BFAD;
	margin-right: 8px;
}
.search .right {
	position: relative;
	display: flex;
	align-items: center;
	width: 75%;
}
.right .iconfont {
	position: absolute;
	left: 10px;
	color: #ccc;
}
.right input {
	width: 100%;
	border: 1px solid #ccc;
	padding: 5px 8px 5px 33px;
	border-radius: 8px;
	background-color: #fff;
}
.club_list {
	margin: 0 15px;
}
.li_list {
	background-color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 12px;
}
.li_list .img_list {
	height: 130px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	display: block;
	margin-bottom: 12px;
}
.li_list .info_01, .li_list .info_02 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 12px 0 12px;
}
.li_list .name {
	font-weight: 900;
	font-size: 32rpx;
}
.distance {
	color: #ccc;
	font-size: 28rpx;
	display: flex;
	align-items: center;
}
.distance .iconfont {
	margin-left: 8px;
	font-size: 35rpx;
}
.type {
	display: flex;
	align-items: center;
	color: #666666;
	font-size: 30rpx;
}
.type .iconfont {
	margin-right: 8px;
	font-size: 40rpx;
	color: #ccc;
}
.info_02 .price {
	color: #FF8004;
	font-weight: 900;
}
.info_02 {
	padding-bottom: 8px;
}
.no_address, .loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #999;
}
.no_address .no_address_img {
	padding-top: 5px;
	width: 180px;
	height: 150px;
}
.no_address .click {
	color: #FF8004;
	font-weight: 900;
}