.home {
	
	color: #FF8C5A;
}
.home_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -99;
}
header {
	position: relative;
}
.home_kd {
	justify-content: unset;
	padding: 0 0 0 15px;
	position: relative;
	color: #fff;
	font-size: 13px;
}
.home_kd_img {
	width: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
}
.rule {
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 50px;
	height: 30px;
	width: 115px;
	color: #31BFAD;
	font-size: 14px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.home_notice {
	margin: 10px 0 0 0;
	display: flex;
	align-items: center;
	padding-left: 16px;
	height: 30px;
	color: #31BFAD;
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.5);
}
.home {
	position: relative;
}
.ball {
	color: #31BFAD;
	font-size: 15px;
	position: absolute;
	top: 30px;
	left: 20%;
	width: 55px;
	height: 55px;
}
.ball_time {
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 13px;
	white-space: nowrap;
}
.header_middle {
	height: 250px;
	position: relative;
}