
.header {
	position: relative;
	flex-direction: column;
	color: #fff;
	font-size: 17px;
}
.sign_in_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -99;
}
.sign_title {
	margin: 20px 0 5px 0;
}
.num {
	color: #31BFAD;
	background-color: #fff;
	padding: 0 8px;
	border-radius: 5px;
	font-size: 25px;
	margin-right: 5px;
	font-weight: 900;
}
.before_no, .before_yes, .today_no, .today_yes, .future {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 35px;
}
.before_no_circle, .before_yes_circle, .today_circle, .future_circle {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.hook, .today_text {
	width: 12px;
	position: absolute;
	bottom: 9px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.time {
	font-size: 12px;
	color: #666666;
	margin-bottom: 3px;
}
.sign_in_date .future:last-of-type .time{
	position: absolute;
	width: 35px;
	right: -15px;
}
.header_bottom {
	background-color: #fff;
	margin: 20px 0 10px 0;
	border-radius: 8px;
	width: 92%;
	z-index: 0;
	padding-bottom: 20px;
}
.sign_in_date {
	position: relative;
	height: 50px;
	margin: 25px;
	justify-content: space-between;
}
.line {
	position: absolute;
	bottom: 13px;
	left: 0;
	width: 98%;
	z-index: -2;
}
.common_class:first-of-type .before_no_circle {
	left: 0;
	transform: translateX(0);
}
.common_class:first-of-type .hook {
	left: 9px;
	transform: translateX(0);
}
.common_class:last-of-type .future_circle {
	right: 0;
	transform: translateX(0);
}
.common_class:last-of-type .hook, .common_class:last-of-type .future_text {
	right: -5px;
}
.future_text, .today_text {
	font-size: 10px;
	bottom: 5px;
	position: absolute;
	color: #23AE9C;
	right: -5px;
}
.today_yes .today_text {
	color: #fff;
	font-weight: 900;
}
.today_no .today_text {
	color: #fff;
	font-weight: 900;
}
.sign_in_btn {
	background-color: #FFBD2E;
	border-radius: 5px;
	color: #fff;
	font-weight: 900;
	width: 70%;
	margin-left: 15%;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
.sign_in_btn_02 {
	background-color: #CCCCCC;
}
.footer {
	background-color: #fff;
	border-radius: 10px;
	color: #333;
	width: 92%;
}
.footer_h3 {
	font-weight: 900;
	padding: 10px 25px;
	border-bottom: 1px solid #E0E0E0;
}
.footer_li {
	border-bottom: 1px solid #E6E6E6;
	margin: 0 25px 0 20px;
	padding: 10px 0;
	font-size: 15px;
}
.footer_li:last-of-type {
	border: none;
}
.footer_li_left_img {
	width: 25px;
	height: 25px;
	margin-right: 12px;
}
.footer_li_left {
	display: flex;
	align-items: center;
}
.footer_li_left_img_02 {
	width: 16px;
	height: 16px;
	margin-left: 8px;
}

.footer_li_left_div_p_01 {
	color: #31BFAD;
	color: #333;
}
.footer_li_left_div_p_02 {
	color: #ccc;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.footer_li_right {
	color: #666;
	font-size: 13px;
	margin-right: 6px;
}
.footer_li_right_span_02 {
	color: #FFBD2E;
}
.footer_li_right_btn {
	background-color: #31BFAD;
	color: #fff;
	font-size: 13px;
	border-radius: 5px;
	padding: 0 15px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}