
// 颜色
$main_color: #FCC53A;


// nav导航
.nav {
	background-color: #fff;
	margin: 10px 15px;
	padding: 15px 0;
	justify-content: space-around;
	border-radius: 10px;

	.nav_item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.nav_img {
			width: 55px;
			height: 55px;
			margin-bottom: 5px;
		}
	}
}

// 左边带有粗边框的标题
.b_title {
	margin: 10px 15px;
	border-radius: 8px;
	background-color: #fff;
	padding: 8px 15px;

	.border {
		width: 8px;
		height: 17px;
		background-color: $main_color;
		margin-right: 8px;
	}

	.b_title_right {
		color: #666;
		font-size: 0.9em;

		.iconfont {
			margin-left: 3px;
		}
	}
}

// 一栏栏的菜单li
.menu_list {
	margin: 10px 0;
	padding: 0 20px;
	background-color: #fff;

	.item_li {
		padding: 12px 0;
		border-bottom: 1px solid #CCCCCC;
		background-color: #fff;

		.item_img {
			width: 17px;
			height: 17px;
			margin-right: 10px;
		}

		.iconfont {
			color: #E0E0E0;
		}
	}

	.item_li:last-of-type {
		border: none;
	}
}